@using System.Security.Claims


<div class="bg-custom-gradient flex h-full w-[200px] flex-col items-center justify-between px-5">
    <div class="flex flex-col gap-2 items-center">
        <img src="/images/simac-logo-removebg.png" asp-append-version="true" />
        <p class="font-bold text-white text-md">@User.FindFirst(ClaimTypes.Name)?.Value</p>
    </div>
    <div class="w-full flex flex-col">
        <div class="w-full flex flex-col gap-4">
            <a asp-action="Inbox" asp-controller="System" class="text-md flex h-[40px] w-full items-center justify-center rounded-sm border border-white/10 bg-white/20 font-semibold text-gray-200 shadow-xl backdrop-blur-md transition duration-100 ease-in-out hover:cursor-pointer hover:scale-[1.05] hover:bg-white/40">Inbox</a>
            <a asp-action="Analytics" asp-controller="Analytics" class="text-md flex h-[40px] w-full items-center justify-center rounded-sm border border-white/10 bg-white/20 font-semibold text-gray-200 shadow-xl backdrop-blur-md transition duration-100 ease-in-out hover:cursor-pointer hover:scale-[1.05] hover:bg-white/40">Analytics</a>
            <a asp-action="DevicesPanel" asp-controller="System" class="text-md flex h-[40px] w-full items-center justify-center rounded-sm border border-white/10 bg-white/20 font-semibold text-gray-200 shadow-xl backdrop-blur-md transition duration-100 ease-in-out hover:cursor-pointer hover:scale-[1.05] hover:bg-white/40">Device</a>
            <a asp-action="AccountPanel" asp-controller="Account" class="text-md flex h-[40px] w-full items-center justify-center rounded-sm border border-white/10 bg-white/20 font-semibold text-gray-200 shadow-xl backdrop-blur-md transition duration-100 ease-in-out hover:cursor-pointer hover:scale-[1.05] hover:bg-white/40">Account</a>
            <a asp-action="RolesPanel" asp-controller="Role" class="text-md flex h-[40px] w-full items-center justify-center rounded-sm border border-white/10 bg-white/20 font-semibold text-gray-200 shadow-xl backdrop-blur-md transition duration-100 ease-in-out hover:cursor-pointer hover:scale-[1.05] hover:bg-white/40">Roles</a>
        </div>
    </div>
    <a asp-action="LogOut" asp-controller="Access" class="text-md mb-[10%] flex h-[40px] w-full items-center justify-center rounded-sm border border-white/10 bg-white/20 font-semibold text-gray-200 shadow-xl backdrop-blur-md transition duration-100 ease-in-out hover:cursor-pointer hover:scale-[1.05] hover:bg-white/40">Sign out</a>
</div>
