@{
    ViewData["Title"] = "Analytics";
}

<div class="w-full h-full flex">
    @Html.Partial("_Navbar")
    <div class="w-[96%] h-[96%] flex items-center gap-5 bg-gray-300">
        <div class="h-full flex flex-col gap-5">
            <div class="h-full w-full bg-white">
                <img src="../images/graph1.svg" class="w-full h-full"/>
            </div>
            <div class="h-full w-full bg-white">
            </div>
        </div>
        <div>
        </div>
    </div>
</div>