@{
    ViewData["Title"] = "Inbox";
}
@using NotificationApp.Models
@model InboxViewModel

<div class="flex h-full w-full">
    @Html.Partial("_Navbar")
    <div class="flex h-full w-full flex-col items-center gap-8 bg-gray-300">
        <div class="mt-8 flex w-[96%] items-center justify-between bg-white p-4 shadow-md">   
            <div class="flex w-full max-w-md items-center gap-2">
                <input type="text" placeholder="Search" class="placeholder-gray-400 w-full border border-gray-300 px-3 focus:outline-none focus:border-gray-400"/>
                <button class="rounded-lg bg-blue-300 px-10 font-semibold text-white shadow-md transition-all duration-150 hover:bg-blue-200 hover:cursor-pointer">Search</button>
            </div>
            <button class="rounded-lg border border-gray-300 bg-white px-6 font-semibold text-black shadow-sm hover:bg-gray-100 hover:cursor-pointer">Sort</button>
        </div>
        <div class="flex h-[82%] w-[96%] gap-3">
            <div class="flex h-full flex-col items-center bg-white p-2">
                <div class="mx-2 mt-2 flex h-[100px] w-[250px] flex-col items-center justify-between rounded-md border-t border-r border-l">
                    <div class="flex h-full w-full items-center justify-center gap-2 p-2">
                        <div class="rounded-4xl h-[25px] w-[30px] border"></div>
                        <div class="flex h-full w-full flex-col items-center justify-center gap-2">
                            <p class="text-xl font-bold">Notification title</p>
                            <p class="text-[12px]">15:45 Monday 24 February 2025</p>
                        </div>
                    </div>
                    <div class="h-[8px] w-full rounded-b-md border bg-[#7AA0FF]"></div>
                </div>
            </div>
            <div class="flex h-full w-full flex-col items-center gap-5">
                <div class="flex w-full items-center justify-between bg-white p-4 shadow-md">
                    <h1 class="text-xl font-semibold text-black">Selected notification title</h1>
                    <p>15:45 Monday 24 February 2025</p>
                </div>
                <div class="flex h-full w-full bg-white p-4 shadow-md">
                    <div class="px-6 py-4 text-justify leading-relaxed text-gray-800">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>