@{
    ViewData["Title"] = "Analytics";
}
@model NotificationApp.Models.AnalyticsViewModel

<div class="w-full h-full flex">
    @Html.Partial("_Navbar")
    <div class="w-full h-full flex items-center justify-center bg-gray-300">
        <div class="w-[96%] h-[96%] flex items-center justify-center gap-5">
            <div class="h-full w flex flex-col gap-5">
                <div class="h-full w-full bg-white">
                    <canvas id="eventFrequencyChart" class="w-full h-full"></canvas>
                </div>
                <div class="h-full w-full bg-white">
                    <canvas id="eventsPerDeviceChart" class="w-full h-full"></canvas>
                </div>
            </div>
            <div class="w-full h-full bg-white flex flex-col items-center justify-center gap-10">
                <canvas id="eventTypePieChart" class="w-full h-full"></canvas>
            </div>
        </div>
    </div>
</div>